body, html{
	font-family: Roboto, Helvetica, sans-serif;
	overflow-x: hidden;
}

a{
	color: #484848;
}
a:hover{
	text-decoration: none;
	color: #000;
}

.fontawesomeicon{
	vertical-align: middle;
}

.col-centered{
	float: none;
    margin: 0 auto;
}

h2{
	font-size: 1.6em;
}