body, html{
	font-family: Roboto, Helvetica, sans-serif;
	overflow-x: hidden;
}

a{
	color: #484848;
}
a:hover{
	text-decoration: none;
	color: #000;
}

.fontawesomeicon{
	vertical-align: middle;
}

.col-centered{
	float: none;
    margin: 0 auto;
}

h2{
	font-size: 1.6em;
}

.dropdown-item{
	padding: .75rem 1.5rem;
}

.dropdown-item.active, .dropdown-item:active{
	background-color: #000;
}

.dropdown-menu{
	border:none;
	padding: 0px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
}

.backgroundsection{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

button{
	border-radius: 2px !important;
}

.form-text{
	color: #fb6a69
}

.form-control{
	border:none
}